.q-content {
    padding-top: 2%;
    width: 40%;
    margin: auto;
}

.q-radio-button {
    margin: 5px 0px;
}

.quiz-result-content {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 25%;
}