.title-toolbar { 
    background: lightblue;
    padding: 2%;
    position: relative;
    font-size: xx-large;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.welcome-page {
    margin: 0;
    position: absolute;
    top: 38%;
    left: 33%;
}