.quiz-list {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
}

.quiz-instructions {
    width:500px;
    margin-left: -20%;
}

.container {
    height: 200px;
    position: relative;
}

.button{
    margin-left: 15px;
}